html, body, #root {
  height: 100%;
}

html {
  font-size: 8px;
}

body {
  margin: 0;
  font: 400 2rem "Open Sans", sans-serif;
  box-sizing: border-box;
}

* {
  /* TODO: Probably should apply this explicitly to each component */
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
